{
    "source": "src",
    "destination": "{{ RockWebPath | replace:'\\','/' }}/Plugins/{{ OrganizationCode | replace:'.','_' }}/{{ PluginCode }}",
    "copy": {% if Copy != true %}false{% else %}true{% endif %}
}
